.black-text {
    color: black;
}

.godText{
    color: rgb(215, 16, 255);
    font-weight: bold;
}

.godText span{
  display: inline-block;
  position: relative;
  animation: wave 3s infinite ease-in-out;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-2px);
    }
    33% {
        transform: translateX(1px);
    }
    50% {
        transform: translateY(0);
        transform: translateX(0);
    }
    66% {
        transform: translateX(-1px);
    }
    75% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}


#mortalRealmResetText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
}

.scrollingHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background-color: #000000;
    z-index: 990;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    white-space: nowrap;
}

.scrollingText {
    white-space: nowrap;
    display: inline-block;
    animation: scrollText 10s linear infinite;
    color: rgb(255, 255, 255);
}

@keyframes scrollText {
    0% {
        transform: translateX(150%);
    }
    5% {
        transform: translateX(100%);
    }
    95%{
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-150%);
    }
}
